* {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #979d9e;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  height: 100vh;
  border-radius: 13px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  padding: 1rem;
  width: 100vw;
  background-color:  #ffffff;
}

